################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestExample/.vs/TestExample
/TestExample/TestExample/obj/*
/TestExample/TestExample/bin/*
